<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.news">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- sd卡存储-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".NewsContentActivity" />
        <activity android:name=".mvp.librarylogin.LibraryLoginActivity" />
        <activity android:name=".LibraryInfoActivity" />
        <activity android:name=".mvp.cardinfo.CardInfoActivity"/>
        <activity android:name=".mvp.cardlogin.CardLoginActivity"/>
        <activity android:name=".mvp.news.othernew.special.SpecialNewsActivity"/>
        <activity android:name=".mvp.news.othernew.detail.OtherNewsDetailActivity"/>
        <activity android:name=".mvp.news.othernew.photo.OtherNewPhotoSetActivity"/>
        <activity android:name=".AdjustNewsTypeActivity"/>
        <activity android:name=".mvp.systeminfo.SystemInfoLoginActivity" />
        <activity android:name=".mvp.systemcenter.SystemCenterActivity"/>
        <activity android:name=".ScoreQueryActivity"/>
        <activity android:name=".mvp.consume.ConsumeQueryActivity"/>
        <activity android:name=".mvp.course.CourseQueryActivity"/>

        <meta-data
            android:name="com.example.news.NewsApplication"
            android:value="IModuleConfig" />
    </application>

</manifest>