<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cootek.newfastframe">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mvp.lock.LockScreenActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity="com.package.name.lockscreen" />

        <service android:name=".MusicService">
            <intent-filter>
                <action android:name="com.example.music.PRE" />
                <action android:name="com.example.music.PLAY" />
                <action android:name="com.example.music.NEXT" />
                <action android:name="com.example.music.CANCEL" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.example.cootek.newfastframe.MusicApplication"
            android:value="IModuleConfig" />
    </application>

</manifest>