<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cootek.newfastframe">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask" />
        <service
            android:name=".MusicService"
            android:process=":main" />
        <receiver android:name=".receiver.MediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.SongListActivity" />
        <activity android:name=".ui.DownLoadActivity" />

        <activity android:name=".ui.MusicRepositoryActivity" />

        <receiver android:name=".receiver.MusicInfoReceiver">
            <intent-filter>
                <action android:name="meta_changed" />
                <action android:name="refresh_data"/>
                <action android:name="play_state_changed" />
                <action android:name="butter_update_changed" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.LocalMusicListActivity" />
        <activity android:name=".ui.SingerInfoActivity" />
        <activity android:name=".ui.SettingActivity" />
        <activity android:name=".ui.LocalMusicActivity"/>

        <meta-data
            android:name="com.example.cootek.newfastframe.VideoApplication"
            android:value="IModuleConfig" />
    </application>

</manifest>