<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.music">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/chat_logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme.Day.Main">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".GuideActivity" />
        <activity android:name=".MainActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="custom.activity.action.main"/>
            </intent-filter>

        </activity>


    </application>

</manifest>